/11ventanita/nbproject/private/
/11ventanita/build/
/Interfaz/nbproject/private/
/Interfaz/build/
/13Componente/nbproject/private/
/11Componente/nbproject/private/
/13Componente/build/
/14File/nbproject/private/
/14File/build/
